* {
  box-sizing: border-box;
}
body {
  background-color: #fffcfc;
  font-family: 'Gill Sans', sans-serif;
  margin: 0px;
}
.column-container {
  display: none;
  width: 100%;
  height: 100vh;
  min-width: 650px;
}
.column {
  margin: 10px;
  margin-top: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  height: calc(100vh - 40px);
}
.container.left {
  background-color: #0b241a;
  color: #fffcfc;
  margin-top: 25px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;;
}

.column-header {
  font-size: 25px;
  padding: 0px 8px;
  position: relative;
  background-color: white;
  top: 15px;
  border-radius: 10px;
}
#big_coffee {
  user-select: none;
  font-size: 128px;
  cursor: pointer;
}

.counter-container {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin: 10px;
}

.cps-container {
  font-size: 20px;
}

#producer_container {
  background-color: #eac784;
  color: #fffcfc;
  padding: 10px;
  overflow: auto;
  border: 2px #362415 solid;
  border-radius: 5px;
}

.producer {
  background-color: #604c4c;
  color: #fffcfc;
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.producer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producer-title {
  font-size: 20px;
}

.producer button {
  font-size: 15px;
  width: 50px;
}

button {
  border-radius: 5px;
  border-style: hidden;
  text-transform: uppercase;
  background-color: #eac784;
  color: #362415;
}

#super_caffeine {
  display: none;
}