* {
  box-sizing: border-box;
}
body {
  background-color: #fffcfc;
  font-family: 'Gill Sans', sans-serif;
  margin: 0px;
}
.column-container {
  display: none;
  margin: 2vh;
  height: 96vh;
  min-width: 650px;
  animation: fadein 0.5s;
}
.column {
  margin: 10px;
  margin-top: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  height: calc(100vh - 40px);
}
.container.left {
  background-color: #0b241a;
  color: #fffcfc;
  margin-top: 25px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;;
}

.column-header {
  font-size: 25px;
  padding: 0px 8px;
  position: relative;
  background-color: white;
  top: 15px;
  border-radius: 10px;
}
#big_coffee {
  user-select: none;
  font-size: 128px;
  cursor: pointer;
  transition: 0.2s;
}

#big_coffee:hover {
  transform: scale(1.1);
  transition: 0.001s;
}

#big_coffee:active {
  transform: scale(1.25);
}

.counter-container {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  margin: 10px;
}

.cps-container {
  font-size: 20px;
}

#producer_container {
  background-color: #eac784;
  color: #fffcfc;
  padding: 10px;
  overflow: auto;
  border: 2px #362415 solid;
  border-radius: 5px;
}

.producer {
  background-color: #604c4c;
  color: #fffcfc;
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.producer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producer-title {
  font-size: 20px;
}

.producer button {
  font-size: 15px;
  width: 50px;
}

button {
  border-radius: 5px;
  border-style: hidden;
  text-transform: uppercase;
  background-color: #eac784;
  color: #362415;
}

/* my additional CSS */

#super_caffeine {
  display: none;
}

#splash_coffee {
  font-size: 180px;
}

.settings-container {
  margin: 5vh;
  height: 90vh;
  border-radius: 20px;
  background-color: #0b241a;
  color: #fffcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadein 0.3s;
}

@keyframes fadein {
  from {opacity: 0;}
  to  {opacity: 1;}
}

.settings-border {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 3px solid #fffcfc;
}

.settings {
  line-height: 25px;
  margin: 10px;
  transition: 0.5s;
}

.settings:hover {
  transform: scale(1.2);
  background-color: #fffcfc;
  color: #362415;
  font-weight: bolder;
}

/* makes it so that when they user "selects" the coffee text by accident
   the highlighted 'text' won't be colored
*/
::selection {
  color: none;
  background: none;
}

@media screen and (max-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2.0) {
  .column-container {
    margin: 8px;
    flex-direction: column;
    min-width: 10vw;
  }

  .container {
    height: 42vh;
    width: 85vw;
  }

  .settings-container {
    height: 85vh;
    text-align: center;
  }

  #splash_coffee {
    line-height: 165px;
  }

  .settings-border {
    width: 80%;
    padding: 10px;
  }
  .settings {
    line-height: 50px;
    margin: 8px;
  }
}